footer{
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    padding-bottom: 10px;
    background-color: var(--building-color2);
}

.footerContent {
    max-width: 1440px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    color:var(--building-color4);
    align-items: center;
    font-size: 8px;
    
}

footer a{
    text-decoration: none;  
}

    
.redes-sociales{
    width: 40%;
    padding: 0;
    justify-content: space-around;
    display:inline-block;
    margin-left: 20px;
}

.redes-sociales img{
    height: 20px;
    margin-right: 15px;
}

.spain{
    display: flex;
    gap: 5px;
}
    
.privacy {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0;
    gap: 30px;
    margin-right: 20px;
}

.privacy p:hover{
    color: var(--building-color5);
}

.spain a{
    font-size: 12px;
}
@media screen and (max-width:992px){
    footer{
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        padding-bottom: 10px;
        background-color: var(--building-color2);
    }
    .redes-sociales{
        margin-left: 20px;
    }
    .redes-sociales img{
        height: 13px;
    }
    .privacy{
        margin-left: 0;
        gap: 10px
    }

}
@media screen and (max-width:736px){
    footer{
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
        padding-bottom: 10px;
        background-color: var(--building-color2);
    }
   
    .footerContent{
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 10px;
    }
        
        .redes-sociales{
            width: 80%;
            display:flex;
        }
        .redes-sociales img{
            height: 30px;
            margin-right: 35px;
        }
        .privacy{
            flex-direction: column;
            line-height: 0;
            margin-top: 25px;
            gap: 15px;
        }
        
    .spain{
        flex-direction: row-reverse;
        order: 10;
        line-height: 8px;
        margin-bottom: 10px;
    }
}